.Sudoku {
  border: 1px solid black;
}

.Row {
  display: flex;
}

.Top {
  border-top: 1px solid black;
}

.Box {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;

  margin-left: -1px;
  margin-top: -1px;

  border-right: 1px solid black;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Red {
  color: red;
}

.Left {
  border-left: 2px solid black;
}
